body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

#game-container {
  width: 80%;
  margin: 0 auto;
}

#output {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #fff;
  padding: 10px;
}

#input {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: monospace;
}